{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template 'mod_examcheck/info_modal';

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

{{< core/modal }}
    {{$classes}} {{classes}} modal-fullscreen-sm-down {{/classes}}
    {{$title}}{{#str}} participant_status, mod_examcheck {{/str}}{{/title}}
    {{$body}}
        {{> mod_examcheck/scan_result_modal/user_info }}

        {{#message}}
            <div class="d-flex flex-row align-items-center {{#message_is_warning}} text-warning {{/message_is_warning}}">
                {{#pix}} i/circleinfo {{/pix}}
                <div>{{.}}</div>
            </div>
        {{/message}}
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-secondary flex-grow-1 flex-sm-grow-0" data-action="hide">
            {{#str}}closebuttontitle{{/str}}
        </button>
    {{/footer}}
{{/ core/modal }}
